.col-name{
  padding: 5px;
  margin: 5px;
}

.col-last-name{
  padding: 5px;
  margin: 5px;

}

.col-email{
  padding: 5px;
  margin: 5px;
}

.col-born-date {
  padding: 5px;
  margin: 5px;
}

.col-role{
  padding: 5px;
  margin: 5px;
}

.col-staffing{
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-leader{
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-home-address{
  padding: 5px;
  margin: 5px;
}

.col-identification-card{
  padding: 5px;
  margin: 5px;
}

.col-phone-number{
  padding: 5px;
  margin: 5px;
}

.col-code{
  padding: 5px;
  margin: 5px;
}

.col-description{
  padding: 5px;
  margin: 5px;
}

.col-cancel{
  padding: 5px;
  margin: 5px;
}

.col-action{
  padding: 5px;
  margin: 5px;
}

.col-errors-name {
  margin: 0 -0.1px;
  padding: 0 2px 0 0;
}

.errors{
  margin: 0 -0.1px;
  padding: 0 2px 0 0;
}


pichincha-message-bar{
  white-space: initial;
}
.text-error{
  margin-top: -5px;
}