@pichincha:registry=https://pkgs.dev.azure.com/BancoPichinchaEC/CD-Bankformers/_packaging/business-banking/npm/registry/
//pkgs.dev.azure.com/BancoPichinchaEC/CD-Bankformers/_packaging/business-banking/npm/registry/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/CD-Bankformers/_packaging/business-banking/npm/registry/:_password=czV6dTZ6bnNtNHR0ZmJxZ2llbmNxd25wZ2doam1ueGFkN2djZ3o0bWp0M3Z4YTdwb25iYQ
//pkgs.dev.azure.com/BancoPichinchaEC/CD-Bankformers/_packaging/business-banking/npm/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/CD-Bankformers/_packaging/business-banking/npm/:_password=czV6dTZ6bnNtNHR0ZmJxZ2llbmNxd25wZ2doam1ueGFkN2djZ3o0bWp0M3Z4YTdwb25iYQ