.col-checks-container {
    margin: 20px 0;
    padding: 0;
}
.col-checks-button {
    margin: 10px;
    text-align: center;
    overflow: hidden;
}
.asing-button{
    width: 50%;
}
.spinner{
    justify-content: center;
    padding: 20% 0;
  }